# macOS
.DS_Store

# Virtual environments
.venv*/
venv*/
env*/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# PyCharm
.idea/

# VSCode
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env
EOF

# C++